! ╻ ╻┏━┓┏━╸┏━┓┏━┓╻ ╻┏━┓┏━╸┏━╸┏━┓
! ┏╋┛┣┳┛┣╸ ┗━┓┃ ┃┃ ┃┣┳┛┃  ┣╸ ┗━┓
!╹╹ ╹╹┗╸┗━╸┗━┛┗━┛┗━┛╹┗╸┗━╸┗━╸┗━┛
! bunker@teknik.io
! this config sets colors & a few misc options 




! #general
*font:                      -gohu-gohufont-medium-r-normal-*-13-*-*-*-*-*-*-*
*boldFont:                  xft:hack:size=9
*italicFont:                xft:hack:size=9
*bolditalicFont:            xft:hack:size=9
urxvt*letterSpace:          0 
urxvt*lineSpace:            -1
urxvt*scrollBar:            false
urxvt.saveLines:            9999
urxvt.iso14755:             false
urxvt*modifier:             alt
URxvt.internalBorder:       20
urxvt.transparent:          false

! #perl
urxvt.perl-ext-common:      default,clipboard,selection-to-clipboard,keyboard-select
urxvt.perl-ext:             default,url-select
urxvt.keysym.M-Escape:      perl:keyboard-select:activate
urxvt.keysym.M-u:           perl:url-select:select_next
urxvt.url-select.launcher:  /usr/bin/firefox
urxvt.url-select.underline: true

! #colors
*highlightColor:            #2E2E2C
*cursorColor: 	            #AFB0AB
*borderColor: 	            #21211F
*background:  	            #21211F
*foreground:                #B8B9B4
! ##black
*color0:                    #292927
*color8:                    #2E2E2C
! ##red
*color1:                    #939490
*color9:                    #989995
! ##green
*color2:                    #5E5E5C
*color10:                   #636361
! ##yellow
*color3:                    #B6B8B3
*color11:                   #BBBDB8
! ##blue
*color4:                    #727370
*color12:                   #777875
! ##magenta
*color5:                    #D1D1CB
*color13:                   #D6D6D0
! ##cyan
*color6:                    #636361
*color14:                   #696966
! ##white
*color7:                    #AAABA6
*color15:                   #AFB0AB
